AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DIGITALOCEAN_WEBSECURE_TOKEN=
GOOGLE_BOOKS_API_TOKEN=
ISBNDB_API_KEY=
MONGO_DBNAME=biblio
MONGO_URL=mongodb://localhost:27017,localhost:27018,localhost:27019/?replicaSet=rs0
