name: Commitlint

on: [pull_request]

jobs:
  commitlint:
     name: Commitlint
     runs-on: ubuntu-latest
     timeout-minutes: 1
     steps:
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v6
